<div class="col-md-12 col-sm-12 new-home-head">
 
    <h2 class="mx-auto" >Welcome to Capgemini Resort </h2>
 
</div>
<div class="data-part">
  <div class="col-md-12 col-sm-12 header-label-div">
    <h3  class="sub-header"style="width: 1000px;">Book Resort</h3>
  </div>
  <form class="bookResortForm" [formGroup]="bookResortForm" (ngSubmit)="book()">
    <div class="col-md-12 col-sm-12 form-group login-detail-margin" >
      <div class="col-sm-2">
        <label for="roomType"><b>Room Type</b></label>
      </div>
      <div class="col-md-3 col-sm-3"style="color:white">
        <select class="r-dropdown" formControlName="roomType">
              <option value="-1" default disabled>Select RoomType</option>
  <option  value="standarad">Standarad</option>
  <option value="deluxe">Deluxe</option>
  <option value="suite">Suite</option>
</select>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 form-group login-detail-margin checkdates">
      <div class="col-md-4 col-sm-4 ">
        <label for="arrivalDate"><b>CheckIn</b></label>
        <div class="input-group">
          <i class="fa fa-calendar calender-icon" aria-hidden="true"></i>
          <input class="form-control" formControlName="arrivalDate" (click)="e.toggle()" placeholder="yyyy-mm-dd" [minDate]="minDate" name="CheckIn"
            ngbDatepicker #e="ngbDatepicker" (ngModelChange)="getDate()"style="margin-top: 0;">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 ">
        <label for="departureDate"><b>Checkout</b></label>
        <div class="input-group" >
          <i class="fa fa-calendar calender-icon" aria-hidden="true"></i>
          <input class="form-control" formControlName="departureDate" (click)="d.toggle()" placeholder="yyyy-mm-dd" [minDate]="checkinDate"
            name="CheckOut" ngbDatepicker #d="ngbDatepicker" style="margin-top: 0;">
        </div>
      </div>
       <!--<div class="col-sm-2 guest-div">
        <label class="guest-label" for="nights">Nights</label>
        <select class="n-dropdown" formControlName="nights">
                   <option default disabled >Select Nights</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
   <option value="4">4</option>
</select>
      </div>-->
      <div class="col-md-4 col-sm-4 guest-div">
        <label class="guest-label" for="noOfPeople" ><b>Number Of Guests</b></label>
        <select class="n-dropdown" formControlName="noOfPeople">
    <option value="-1" default disabled  style="color:blue">Select Guests</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
   <option value="4">4</option>
</select>
      </div>

    </div>
    <div class="col-md-12 col-sm-12 align-right" style="margin-top: 11%;text-align:center">
      <input style='margin-left:-222px' type="reset" class="btn  btn-size" ng-click="reset()" value="Reset">
      <input style='margin-left:16px' type="submit" class="btn btn-size" value="Book" [disabled]="!bookResortForm.valid || bookResortForm.controls['noOfPeople'].value=='-1' || bookResortForm.controls['roomType'].value=='-1'">

    </div>
  </form>
</div>
